<h2>Welcome to SinaRPS</h2>

<h4>Please make a selection:</h4>
<a href="/rps">Regular ol RPS</a>
<a href="/dynamite">Dynamite</a>
<a href="/lizard-spock">Lizard-Spock</a>

<footer>Made by Corey Leveen</footer>
