<h1>Original</h1>

<h3>Choose your move!</h3>

<a href="rps/rock">Rock</a>
<a href="rps/paper">Paper</a>
<a href="rps/scissors">Scissors</a>

<h3> <%= session[:string] %> </h3>
<h3> <%= session[:score_board] %> </h3>
<h4>Wins: <%= session[:wins] %> </h4>
<h4>Losses: <%= session[:losses] %> </h4>

<a href="/reset/rps">Reset</a>
